table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    border: 1px solid #333;
}
th {
    background-color: #006400;
    color: white;
}
tr:hover {
    background-color: #f0f0f0;
}
th:nth-child(1) { width: 25%; }
th:nth-child(4) { width: 40%; } 